OPENAI_API_KEY=your_openai_api_key_here
QDRANT_URL=your_qdrant_cloud_url_here
QDRANT_API_KEY=your_qdrant_api_key_here
QDRANT_COLLECTION=hazsoft-agent
PDF_FOLDER=C:\Users\priyag\Documents\Hazsoft Agent\Hazsoft Sample SDS Files
CHUNK_SIZE=500
CHUNK_OVERLAP=75
EMBEDDING_MODEL=text-embedding-3-small
CHAT_MODEL=gpt-4o-mini
AIRTABLE_API_KEY=your_personal_access_token_here
AIRTABLE_BASE_ID=appD5sBPqo4SyYDkp
AIRTABLE_TABLE_NAME=tblGevdeidMTlEZgR
